* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, system-ui, sans-serif;
}

:root {
  --main-bg: #f3f3f3;
  --text-color: #282828;
}

body {
  height: 100%;
  background-color: var(--main-bg);
  color: var(--text-color);
}

.btn {
  margin: 0;
  text-align: center;
  border: none;
  background: #2f2f2f;
  color: #888;
  padding: 0 4px;
  border: 1px solid grey;
}
.btn-lg {
  font-size: 12px;
  width: 50px;
  line-height: 1;
  padding: 4px;
}
.btn-zoom {
  width: 26px;
  font-size: 22px;
}
.btn-bottom {
  margin-bottom: 1rem;
}
.controls {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.relative {
  position: relative;
}
.fetchBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: var(--main-bg);
}

#requestDisplay {
  margin-right: auto;
}

.panelNav {
  background-color: var(--main-bg);
  color: var(--text-color);
  height: 40px;
  display: flex;
  align-items: center;
}

.allOptions {
  padding-left: 15px;
  display: flex;
  margin-left: -8px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.allOptions button {
  align-self: center;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--text-color);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s;
  color: #fdfdfd;
  font-weight: 500;
  text-decoration: none;
}

.allOptions button:hover {
  color: var(--text-color) !important;
  background-color: #b998f4 !important;
  border: 1px solid var(--text-color) !important;
}

.allOptions button:focus {
  outline: none;
}

#componentStore {
  height: 92vh;
  max-height: 100%;
  padding: 10px;
  background-color: #272b4d;
}

.componentName {
  font-size: 1.5em;
  color: #68d1f5;
}

.componentDetails {
  font-size: 1em;
}

.detailsLabel {
  color: #b998f4;
}

.details {
  color: #26deb0;
}
