.nav {
  background-color: greenyellow;
  color: purple;
}
.allOptions{
  display: grid;
  grid-template-columns: 5% 15% 60% 15% 5%;
}
#b1{
  grid-column-start: 2;
  grid-column-end: 3;
}
#b2{
  grid-column-start: 4;
  grid-column-end: 5;
}
