body {
  color: white;
}
h2 {
  margin: 0;
  padding: 0;
}
.logo-box {
  padding: 10px 10px;
  text-align: center;
  border-bottom: 2px solid blue;
  display: flex;
}
.visualization-box {
  margin: auto auto;
  border: 2px solid white;
}
